html, body {
  height: 100%; }

body {
  background-color: #000;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0; }

section, header, pre {
  display: block;
  margin: 0; }

body, pre, input {
  font-family: "Menlo", "Monaco", monospace; }

a {
  color: #fff; }

input {
  border: 1px solid #444;
  background-color: #111;
  color: #fff;
  outline: none;
  height: 13px;
  font-size: 12px;
  padding-top: 2px;
  margin: 0; }
  input[type="submit"] {
    margin-top: 5px;
    height: 18px;
    align: center; }
  input[type="checkbox"] {
    vertical-align: middle; }

.clear-input {
  display: inline-block;
  position: relative;
  left: -22px;
  top: 3px;
  width: 12px;
  height: 12px;
  margin-right: -22px;
  background: no-repeat url(/images/clear.png); }
  .clear-input:hover {
    background-position: -12px 0; }

.input-group {
  display: inline;
  border-left: 1px solid #444;
  padding-left: 0.5em; }

header {
  background-color: #000;
  height: 0;
  line-height: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #444; }
  header a {
    text-decoration: none;
    color: #555; }
  header span {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 18px; }

#light_dark {
  background: url(/yin_yang.png);
  background-size: 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top; }

#sidebar {
  position: relative;
  float: left;
  width: 165px;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid #444; }
  #sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #444; }
    #sidebar ul a {
      color: #888;
      text-decoration: none; }
    #sidebar ul li.current a {
      color: #fff;
      padding-left: 1ex; }

#channels {
  height: 100%;
  overflow-y: auto; }

#calendar {
  min-height: 140px; }

#options {
  min-height: 65px; }

#clear_selection, #live_logging {
  color: #888; }
  #clear_selection.active, #live_logging.active {
    color: #fff; }

#options {
  border-top: 1px solid #444;
  padding: 10px; }
  #options #search-box {
    margin-top: 10px;
    width: 145px; }

#calendar {
  color: #555;
  padding: 10px; }
  #calendar .header {
    color: #ff4500; }
  #calendar .clock {
    text-align: center;
    color: #fff;
    padding-bottom: 5px; }
  #calendar a {
    text-decoration: none;
    color: #fff; }
    #calendar a.current {
      text-decoration: underline; }

#info {
  padding: 10px;
  margin: 0 0 0 166px;
  color: #fff; }

#log-panel {
  border-bottom: 1px solid #444;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0; }

#log {
  padding: 10px;
  margin: 0 0 0 166px;
  color: #888; }
  #log a.link {
    color: #888; }
  #log a.timestamp, #log a.timeref {
    color: #555 !important;
    text-decoration: none; }
    #log a.timestamp:hover, #log a.timeref:hover {
      text-decoration: underline; }
  #log .log-messages {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 175px;
    overflow: auto; }
    #log .log-messages.with-panel {
      top: 40px; }

#log:not(.highlight) div.talk, div.highlight.talk {
  color: #fff; }
#log:not(.highlight) div.me-tell, div.highlight.me-tell {
  color: #ffa500; }
#log:not(.highlight) div a.link, div.highlight a.link {
  color: #f6f840 !important; }
#log:not(.highlight) div .nick-1, div.highlight .nick-1 {
  color: #F68E55; }
#log:not(.highlight) div .nick-2, div.highlight .nick-2 {
  color: #F26C4F; }
#log:not(.highlight) div .nick-3, div.highlight .nick-3 {
  color: #FBAF5C; }
#log:not(.highlight) div .nick-4, div.highlight .nick-4 {
  color: #FFF467; }
#log:not(.highlight) div .nick-5, div.highlight .nick-5 {
  color: #ACD372; }
#log:not(.highlight) div .nick-6, div.highlight .nick-6 {
  color: #7CC576; }
#log:not(.highlight) div .nick-7, div.highlight .nick-7 {
  color: #3BB878; }
#log:not(.highlight) div .nick-8, div.highlight .nick-8 {
  color: #1ABBB4; }
#log:not(.highlight) div .nick-9, div.highlight .nick-9 {
  color: #00BFF3; }
#log:not(.highlight) div .nick-10, div.highlight .nick-10 {
  color: #438CCA; }
#log:not(.highlight) div .nick-11, div.highlight .nick-11 {
  color: #5574B9; }
#log:not(.highlight) div .nick-12, div.highlight .nick-12 {
  color: #605CA8; }
#log:not(.highlight) div .nick-13, div.highlight .nick-13 {
  color: #855FA8; }
#log:not(.highlight) div .nick-14, div.highlight .nick-14 {
  color: #A763A8; }
#log:not(.highlight) div .nick-15, div.highlight .nick-15 {
  color: #F06EA9; }
#log:not(.highlight) div .nick-16, div.highlight .nick-16 {
  color: #F26D7D; }

#log.without-noise .op-join, #log.without-noise .op-leave, #log.without-noise .op-quit {
  display: none !important; }

.pagination .current {
  color: #fff; }
.pagination a {
  color: #555; }

div.highlight {
  color: #fff; }

/*# sourceMappingURL=style-dark.css.map */
